@import "../../styles/mixins.scss";

.SectionInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 100px 0 250px 0;
  gap: 100px;

  &__bottomContent {
    display: flex;
    justify-content: center;
    gap: 32px;
  }

  &__card {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 300px;
    border-radius: 8px;
    overflow: hidden;
    transition: all 0.2s;
    cursor: pointer;
    background-color: var(--green-light);
  }

  &__card:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px #00000050;
  }

  &__cardImage {
    padding: 32px;
    background-color: var(--green-light);
    mix-blend-mode: soft-light;
  }

  &__textFrame {
    padding: 16px;
    display: flex;
    flex-grow: 1;
    align-items: flex-end;
    background-color: var(--text-dark);
  }

  &__cardText {
    color: var(--green-light);
    background-color: initial;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
  }

  &__text {
    width: 780px;
    text-align: center;
    font-size: 32px;

    strong {
      font-weight: 700;
    }
  }
}

@include sm {
  .SectionInfo {
    &__bottomContent {
      flex-direction: column;
      gap: 16px;
    }

    &__card {
      flex-direction: row;
      width: 320px;
      height: 100px;
    }

    &__cardImage {
      padding: 16px;
    }

    &__textFrame {
      align-items: center;
    }

    &__text {
      width: 100%;
      text-align: center;
      font-size: 24px;
    }
  }
}
