@import "../../styles/mixins.scss";

.SectionCover {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 100px 0;
  gap: 100px;

  &__imageFrame {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__imageTextBack {
    width: 300%;
    opacity: 0.04;
    position: absolute;
  }

  &__imageText {
    width: 70%;
  }

  &__scrollButtom {
    background-color: var(--off-white);
    cursor: pointer;
    border: none;

    img {
      mix-blend-mode: difference;
      opacity: 0.85;
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    &__scrollButtom {
      animation: pulse infinite 1s linear;
    }
  }

  @keyframes pulse {
    from {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    to {
      transform: scale(1);
    }
  }
}

@include sm {
  .SectionCover {
    box-sizing: border-box;
    padding: 20px 0;
    gap: 20px;

    &__imageTextBack {
      width: 500%;
    }

    &__imageText {
      width: 100%;
    }

    &__scrollButtom {
      position: absolute;
      bottom: 100px;
    }
  }
}
