.SectionDate {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 100px 0;
  gap: 128px;

  &__bottomContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }

  &__text {
    display: flex;
    justify-content: center;
    gap: 8px;
    text-align: center;
    font-size: 32px;
    text-transform: uppercase;

    strong {
      font-weight: 700;
    }
  }
}
