@import "../../styles/mixins.scss";

.FloatLeaf {
  position: absolute;
  max-width: 60%;
  z-index: 999;
}

.FloatLeaf.reverse {
  transform: rotateZ(180deg);
}

.FloatLeaf.flip {
  transform: scaleY(-1);
}

.FloatLeaf.reverse.flip {
  transform: rotate(180deg) scaleY(-1);
}

@include sm {
  .FloatLeaf {
    max-width: 120%;
  }
}
