.ColorPallete {
  display: flex;
  flex-direction: column;
  padding: 32px;
  gap: 16px;
  border-radius: 24px;
  background-color: var(--text-dark);
  margin: 0 auto;

  span {
    background-color: initial;
  }

  &__colorsFrame {
    display: flex;
  }

  &__color:first-child {
    border-radius: 14px 0 0 0;
  }

  &__color:last-child {
    border-radius: 0 14px 0 0;
  }

  &__color {
    width: 150px;
    height: 200px;
    display: flex;
    text-transform: uppercase;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
    transition: all 0.2s;
    cursor: pointer;
  }

  &__color:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px #00000040;
  }

  &__name {
    font-weight: 700;
    font-size: 16px;
    width: 60%;
  }

  &__codes {
    display: flex;
    flex-direction: column;
  }

  &__hexCode {
    font-weight: 600;
    font-size: 16px;
    color: var(--text-dark);
  }

  &__cmykCode {
    font-weight: 500;
    font-size: 16px;
    color: var(--text-dark);
  }

  &__description {
    display: flex;
    justify-content: space-between;
    color: var(--green-light);
    font-size: 16px;
  }

  &__title {
    text-transform: uppercase;
    font-weight: 700;
  }

  &__rightContent {
    display: flex;
    gap: 8px;
  }

  &__date {
    font-weight: 800;
  }

  &__printable {
    display: none;
  }
}
